<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite-regression">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.CheckBoxSelectionTest"/>
      <class name="tests.CheckBoxSelectionOop"/>
      <class name="tests.GoogleTest"/>
      <class name="tests.TestMainCallable"/>
      <class name="tests.CheckBoxSelectionOopCucumber"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite-regression -->
